@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}
body {
    background: floralwhite;
}
.container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.col-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    max-height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.col-1 img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-right: 10px;
}
.col-1 .name {
    margin-left: 10px;
}
.col-1 .name h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 32px;
    font-size: 26px;
}
.col-1 .name p {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.col-1 .name a {
    text-decoration: none;
    color: #333;
    text-align: center;
}
.col-1 .name a:hover {
    color: blue;
    transition: 0.3s ease-in;
}

.col-2 {
    width: 600px;
    height: 600px;
}
.col-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.col-2 .row a {
    width: 100%;
    text-align: center;
    color: rgb(0, 7, 75);
    text-decoration: none;
}
.col-2 .row a i {
    margin: 0 15px;
    position: relative;
    top: 2px;
    font-size: 22px;
}
.col-2 .row a span {
    font-size: 20px;
}
.col-2 .row:hover {
    border: 1px solid rgb(0, 7, 75);
    transition: 0.7s ease-in-out;
    transform: scale(1.1);
}
.col-2 .row:hover .email{
    color: #dd4b39;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .whatsapp{
    color: #25D366;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .telegram{
    color: #0084ff;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .instagram{
    color: #e4405f;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .facebook{
    color: #3b5999;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .linkedin{
    color: #0077B5;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .github{
    color: #111;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}
.col-2 .row:hover .dribbble{
    color: #ea4c89;
    text-transform: uppercase;
    transition: 0.5s ease-in;
}



footer {
    position: absolute;
    bottom: -258px;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


@media screen and (max-width: 768px){
    :is(.container, footer){
        width: 100%;
    }
    .container {
        margin-bottom: 0;
    }
    .col-1 {
        width: 90%;
        flex-wrap: wrap;
        text-align: center;
    }
    .col-2 {
        width: 90%;
    }
    .col-1 img {
        width: 70px;
        height: 70px;
    }
    .col-1 .name h2 {
        font-size: 14px;
    }
    .col-1 .name p {
        font-size: 8px;
    }
    .col-2 .row {
        padding: 10px;
        margin: 20px 0;
    }
    .col-2 .row a i{
        font-size: 14px;
    }
    .col-2 .row a span {
        font-size: 12px;
    }
    .col-2 .row:hover {
        transform: scale(1);
    }
    footer {
        position: relative;
        bottom: 0;
    }
}
